<div class="col-8 mx-auto mt-5">
  <div class="card">
    <div class="card-body">


      <h1 class="mb-5 text-center">Login</h1>

      <form action="/users/login" method="post">
        <div class="col-sm-10 mx-auto mt-5">

          <div class="mb-5 row d-flex justify-content-center">
            <label for="inputPassword" class=" form-label col fs-5 d-flex align-items-center">Account</label>
            <div class="col-sm-9">
              <input type="email" class="form-control" id="inputPassword">
            </div>
          </div>

          <div class="mb-5 row d-flex justify-content-center">
            <label for="inputPassword" class="form-label col fs-5 d-flex align-items-center">Password</label>
            <div class="col-sm-9">
              <input type="password" class="form-control" id="inputPassword">
            </div>
          </div>

        </div>

        <div class="d-grid justify-content-center align-self-center mt-5">
          <button type="summit" class="btn btn-primary btn-lg ">登入</button>
</div>
      </form>



    </div>
  </div>
</div>